@import "./variables.scss";
@import "./mixins.scss";

@import "./_nav.scss";
@import "./_notes.scss";
@import "./_notes-dropdown.scss";

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}