$color-main: #7E9DC2;
$color-main-dark: darken(#7E9DC2, 10%);
$color-white: #FFFFFF;
$color-purple-dark: darken(#B19FF9, 20%);
$color-darker-blue-dark: darken(#9BCCFD, 20%);
$color-pink-dark: darken(#FF66E9, 20%);
$color-green-dark: darken(#B8EE30, 20%);
$color-lighter-blue-dark: darken(#D0E3FF, 20%);
$color-yellow-dark: darken(#FBF608, 20%);
$color-none: none;